[2009-10-04 07:40] quattor-releaser opened #263 "weak references for "batched" profile compilation"
One technique used at larger sites (MS, CERN) is to batch compilation requests (e.g. divide up into groups of 1000).  Although this risks to have a few profiles recomputed, in reality, this rarely happens because cross-profile dependencies are rare.  Essentially, this is the same as clearing the internal profile caches periodically.  Determine if similar performance can be achieved by changing the

[2012-11-02 11:30] piojo-zz opened #1 "--output-dir doesn't work on HEAD"
As discussed during the workshop, if I run

[code]

from today's GH master,

The generated files stay in my working directory, and nothing happens in /tmp. At the very least, the testing mechanisms require `--output-dir`.

Thanks

[2012-11-03 07:52] #1 closed, assigned to loomis

[2012-11-14 13:27] loomis opened #2 "pan-check-syntax task still uses deprecation warnings attribute"
The pan-check-syntax task is still using the deprecationLevel attribute.  This should be removed and changed to 'warnings' instead.

[2012-11-14 13:52] loomis opened #3 "remove xmldb support"
The xmldb support should be removed from the compiler.  It has been deprecated and is not consistent with allowing escape/unescape to be removed from the language.

[2012-11-14 13:53] loomis opened #4 "remove panc-old script"
Remove the panc-old script.  This has been deprecated in favor of the newer script with streamlined options.

[2012-11-14 13:55] loomis opened #5 "remove deprecated options"
Remove the old, deprecated options from the panc ant task and from the compiler in general.  This will allow the internal parameter handling to be optimized for the new options.

[2012-11-15 07:28] loomis opened #6 "panc 9.2 throws NullPointerException sometimes"
Reported by Gabor in SF Bug #3545788:

Below is the stack trace. The error is not deterministic, running panc again on the same sources usually succeeds. All occurances of the error I've seen complain about the same pan type (component_ofed_openib_modules).

[code]

[2012-11-15 07:32] loomis opened #7 "transient race condition in validation"
There is an transient race condition during the validation where it will occationally fail with an error like the following:

[code]

Recompiling with no changes will usually work. Probably a problem with concurrency between threads.

[2012-11-15 07:34] loomis opened #8 "un-intuitive behavior in delete() function"
The following code:

[code]

Will have `/result` set to true. That is, the delete function made sure that `/path/a/b` did not exist, but created `/path/a` along the way. Although the normal behavior is to create parents as necessary, it is a bit un-intuitive that delete() should have this behavior. Need to investigate if this should be changed.

[2012-11-15 07:35] loomis opened #9 "un-intuitive behavior when copying resources"
The following template results in un-intuitive behavior. The number of element in the list are different in the two cases, although the mechanism for generating them is nearly identical. Investigate what the proper behavior should be.

[code]

[2012-11-15 07:37] loomis opened #10 "final flag needs to be effective in structure templates"
The 'final' flag is currently not taken into account when used within structure templates. This functionality should be completed for the next version of the compiler.

[2012-11-15 07:40] loomis opened #11 "allow non-file locations in the include directories"
Allow include directories that reference other protocols, for example http or https. This would also facilitate inclusion of configuration information from sources other than the file system.

[2012-11-15 07:42] loomis opened #12 "improved logging for dependency checks"
Improve the logging for dependency checks so that problems with them can be more easily debugged.

[2012-11-15 07:44] loomis opened #13 "change preferred name for nlist to hash, dict, ..."
Change the preferred name for an nlist to hash, dict, or something similar. This makes is correspond better to similar data structures in other languages and is easier to understand. The generated XML and other formats should still use 'nlist' as the name of the structure.

[2012-11-15 07:45] loomis opened #14 "add pan types for IPv4 and IPv6 internet addresses"
Add specific types for IPv4 and IPv6 internet addresses as well as functions for manipulating them.

[2012-11-15 07:46] loomis opened #15 "Prepend debug messages with the OBJECT generating them"
When generating debug() output, I need to understand what profile is generating a given message, since different profiles may follow different paths in the same template. In the end, all my debug messages end up like:

debug("A debug message on " + OBJECT);

It would help a lot if the compiler spared me the +OBJECT, which I may forget quite often. A real example (from some fixes I'm doing to Stijn

[2012-11-15 07:47] loomis opened #16 "update path syntax to allow all paths to be specified"
The current path syntax that escapes path segments should be updated to allow all paths to be specified and to avoid the escaping of path terms. The changes that need to be made:

1) recognize \, {, }, and : to be recognized as escape sequences in paths
2) escaped colons (:) will not be interpreted as an object template separator
3) character sequences delimited by braces are single path terms
4)

[2012-11-15 07:48] loomis opened #17 "add switch that allows escape/unescape to be turned off"
Add a switch to the compiler to allow escape/unescape to become no-ops. This switch should also turn off the enforcement of rules on path terms.

[2012-11-15 07:49] loomis opened #18 "include statement should accept list"
Allow the include statement to accept a list of strings. Each should be included according to the standard rules: 1) undef or null does nothing, 2) string causes named template to be included.

[2012-11-15 07:51] loomis opened #19 "provide service for running pan compiler"
Provide a service that would run the pan compiler, avoiding the startup times associated with the JVM. This should provide a REST interface allowing users to start and monitor pan language compilations.

[2012-11-15 07:52] loomis opened #20 "add a debug statement to simplify debugging"
Currently, one needs to create a dummy statement in order to invoke the debug() function. It would be more convenient to have a debug statement that just prints the value returned by the DML.

[2012-11-15 07:53] loomis opened #21 "provide documentation for annotation output files"
Provide documentation for the annotation output files in the pan language/pan compiler documents.

[2012-11-15 07:55] loomis opened #22 "RFE: annotated preprocessing of profiles"
For troubleshooting/understanding our often rather "historically grown" CDB "forest", it would be nice if PANC could be made to dump the preprocessed output in annotated form, with all "includes" resolved (including conditional includes and namespaces) and comments still in place. The output should allow to see which line comes from which file. For "unique" templates includes and other, the PANC r

[2012-11-15 07:56] loomis opened #23 "add performance guidelines to documentation"
Add performance guidelines to documentation. This should include information about slow/fast constructs in the pan language as well as some performance information concerning compilation.

[2012-11-15 07:57] loomis opened #24 "add OBJECT to debug() and error() output"
When processing several templates at the same time, it is not possible to distinguish the debug() and error() output from the different object templates. While it is possible to add "OBJECT + ..." to the function argument, it may be easier and more consistent to automatically add this information.

[2012-11-15 07:58] loomis opened #25 "make error messages compatible with i18n"
Use resource bundles to collect compiler messages into files that can be internationalized. Implement one language other than English to ensure that this works.

[2012-11-17 17:32] loomis opened #26 "changes needed for backward compatibility in ant task"
Hi,

I had to make the following changes to make ANT task parameters
backwards compatible, which is a requirement for us to be able to test
9.3 before we deploy it in production.

Gabor

[code]

[2012-11-18 07:36] #26 closed, assigned to loomis

[2012-11-18 07:36] #2 closed, assigned to loomis

[2012-11-18 08:47] #3 closed, assigned to loomis

[2012-11-18 09:54] loomis opened #27 "remove session directory functionality from compiler"
Remove the session directory functionality from the compiler.  This is not used by SCDB or by Aquilon and is no longer needed.

[2012-11-18 10:49] #4 closed, assigned to loomis

[2012-11-18 10:49] #5 closed, assigned to loomis

[2012-11-18 10:49] #27 closed, assigned to loomis

[2012-11-24 10:45] loomis opened #28 "use std. java 1.6 API for base64 processing"
Use the standard java API for base64 processing. This is in the javax.xml.bind.DataConverter class. This will put a minimum java version of 1.6 on the pan compiler. This may also be helpful for XML output as well.

[2012-12-04 11:20] piojo-zz opened #29 "Replace SourceForge links by GitHub ones in the documentation"
The Pan book still refers to SourceForge in a number of places.  It needs updating.

[2013-03-06 11:14] jrha opened #30 "RFE: Datatype for sets"
As we migrate to the yum based SPMA, it would be nice to have a set datatype to store the package list in that allows simple addition or removal of items in the set, without the overhead of an nlist. They need not be ordered (like list), but should guarantee uniqueness of elements (like nlist).

An idealised syntax might be:
"/software/packages" = set();
...
"/software/packages/httpd" = undef;
"/s

[2013-03-07 08:22] loomis opened #31 "panc command line fails"
The panc command line interface fails to start because of this error:

[code]

[2013-03-07 08:32] loomis opened #32 "add switch to turn off escaping of key values"
Since all of the output formats can handle non-escaped values, add a switch to turn off the escaping.  An agreement needs to be made about how to transmit the value of this switch to downstream clients.

[2013-03-07 08:46] loomis opened #33 "add switch to ant task and maven plugin to limit number of profiles to compile"
Add a switch to the ant task and maven plugin to limit the number of profiles that can be compiled.  This is to avoid a situation where someone makes a small change and expects a quick compile for a few profiles, but ends up recompiling a large number.

The default behavior should be to have no limit on the number of compiled profiles to be consistent with the current behavior.

[2013-03-07 08:49] loomis opened #34 "add a function that does an 'exists' for included files"
Since pan now allows people to include a non-pan language file, also an 'exists' function is needed to allow conditional includes of such files.

[2013-03-07 09:16] #31 closed, assigned to loomis

[2013-03-07 11:24] #24 closed, assigned to loomis

[2013-03-07 11:34] #15 closed, assigned to loomis

[2013-03-07 14:43] #29 closed, assigned to loomis

[2013-03-07 14:46] loomis opened #35 "switch for turning off escaping must transmit information to downstream clients"
Compiler state (specifically the escape flag) needs to be transmitted to downstream clients.  The compiler should add a /panc element to the output with this information.  This path must be disallowed for users of the compiler and be documented.

[2013-03-18 12:54] piojo-zz opened #36 "to_long fails to convert strings like "08" or "09"."
`to_long` treats strings starting with a 0 as octals. Which means that if I generate a sequence of names, like:

[code]

I cannot convert the last two elements in  `l` back to `longs`. I need to do very ugly pattern matching to remove the leading zeroes.

It might be enough if `to_long` accepts an optional parameter with the base, a la `strtol`.

[2013-05-03 12:03] piojo-zz opened #37 "No line number given when a type has wrong defaults"
This invalid code:

[code]

gives the following insufficient error message:

It should identify that the invalid _default_ value is in line 4.

I've reproduced this on 9.0.0-RC3, 9.3 and 10.0.

[2013-05-17 08:28] loomis opened #38 "ip address and netmask functions"
Add IP address functions and netmask functions to pan.  Take a look at the manipulations done in `standard/xen/auto_network.tpl` to see the types of things that need to be done.  The netmask functions should support the netmask 'slash' notation.

[2013-05-17 10:58] jrha opened #39 "Caret Diagnostics"
LLVM's Clang has given the world some awesome diagnostic features (see http://clang.llvm.org/diagnostics.html).
Something that should be relatively easy to bring to `panc` is a form of Caret Diagnostics, by doing nothing more that using the existing range numbers in the error message, this could supplement this:

[code]

with something like this:

[code]

Or this:

[code]

with this:

[code]

[2013-05-21 15:32] jrha opened #40 "Line numbers incorrect when traceback triggered"
Sometimes when a stack trace is triggered, the line numbers in the initial error message are from the wrong end of the stack.

In the example below (names changed to protect the innocent), `innocent.tpl:326.11-326.72` is taking the line numbering from `functions.tpl:326.11-326.72` rather than the correct `innocent.tpl:17.1-17.43` from the other end.

Or alternatively, thinking about it, given that

[2013-05-21 15:49] #30 closed, assigned to loomis

[2013-05-31 15:39] piojo-zz opened #41 "Panc RPM tries to own /usr/bin and /usr/lib"
When installing the RPM:

[code]

[2013-06-01 17:13] #41 closed, assigned to loomis

[2013-09-04 18:04] piojo-zz opened #43 "Strange crash on invalid code if SELF is misused as a function"
The following invalid code makes the compiler crash:

[code]

I get this uncaught exception prior to the syntax check:

[code]

A diagnostics of why the code is invalid would be appreciated. ;)

[2013-09-30 17:20] #43 closed, assigned to loomis

[2013-10-01 07:34] #40 closed, assigned to loomis

[2013-10-01 14:45] #37 closed, assigned to loomis

[2013-10-02 08:21] #36 closed, assigned to loomis

[2013-10-15 13:34] piojo-zz opened #44 "Inconsistent behaviour of exists and value in structure templates"
The following:

[code]

will yield a structure like

[code]

when "c" should be true. Same applies for `defined` and friends.

The workaround is easy, but ugly:

[code]

[2013-11-21 09:02] gombasg opened #47 "Invalid escape sequence in a path literal causes the compiler to hang"
Trying to compile the following template causes the compiler to hang indefinitely:

[code]

The real path where we noticed the issue was longer, this appears to be the shortest fragment that still reproduces the issue - taking the "/filecopy" part out makes the issue go away, we get the expected error message instead of a hang.

Tested with 9.4, 10.0 and current master.

[2014-03-20 21:32] jouvin opened #48 "bind statement should accept variables on lvalue"
With the new metaconfig configuration module, we have the need to construct the lvalue for bind statement based on variables. metaconfig is a filecopy replacement where the content can be verified against a schema specific to each file. This is done by binding the schema for the content to some type definitions with a statement like:

[code]

But for this component to be useful, we need to be able

[2014-04-27 11:21] jouvin opened #49 "file_contents() doesn't handle properly accentuated characters"
file_contents() is not handling properly accentuated characters in a file written in isolatin-1. It probably expects UTF-8 characters... It should take into account the default character set defined on the machine when reading the file.

[2014-04-27 21:40] jouvin opened #50 "panc-annotations unexpected behaviour, documentation unclear"
Attempt to use panc-annotations result in unexpected syntax errors. For example

[code]

In addition --help doesn't describe the parameters expected (template names).

Using an absolute path results in the same error... Not sure what I made wrong...

BTW, the documentation (chapter 9) is not very clear about what is the file name of the resulting file. In the example given, it is not indicated wha

[2014-05-13 08:24] jouvin opened #53 "append() syntax is misleading"
append() syntax is misleading, despite the documentation being clear... when used with one argument it always updates SELF. As a result, a DML code like:

[code]

will append 1 to SELF and not to test. The second form that will work in this context is:

[code]

that tends to suggest that there is a copy operation involved (when this is not the case).

The problem with first form is that it can lea

[2014-05-23 14:59] stdweird opened #54 "utf-8 doc issues"
building pan fails with UTF-8 issues on current master

[code]

[2014-05-24 05:12] #54 closed, assigned to loomis

[2014-05-24 18:24] stdweird opened #56 "Pan thread safety"
@loomis Brief indication where to look for clues is ok for now.
Looking for a bug in panc (2 consecutive compilation of the same templates lead to different profiles; it used to be harmless (users being specified multiple times in a group), but we are now seeing cases where it is serious (users not appearing in the group anymore)).
One of the possible causes might be the lack of threadsafety in th

[2014-05-24 20:09] #50 closed, assigned to nobody

[2014-05-24 20:34] #49 closed, assigned to nobody

[2014-05-24 20:59] #47 closed, assigned to nobody

[2014-05-25 08:56] jouvin opened #58 "Strange error during build (FOP processing)"
When doing a `mvn package` on master, there is the following error:

[code]

Not sure why... Doesn't seem to have visible impact... but this may just be that I have not seen it!

[2014-05-25 08:58] #58 closed, assigned to nobody

[2014-06-20 20:54] stdweird opened #61 "panc include-path argument"
what is the `--include-path` argument supposed to be doing?

i have object template in `/x` that includes a template via `include 'z'` with `z.pan` in `/y`.

i try compiling with `cd /x; panc --include-path /x:/y obj.pan` but it fails to find `z`.

[2014-06-23 06:45] #61 closed, assigned to nobody

[2014-08-18 09:29] #38 closed, assigned to loomis

[2014-08-18 09:41] loomis opened #63 "bring back the nthread compiler option"
To allow people to avoid the issue related to inconsistent multi-threaded builds (see #56), bring back the `thread` option so that people can turn off the multi-threading.

[2014-08-18 13:49] #63 closed, assigned to loomis

[2014-08-18 15:01] #34 closed, assigned to loomis

[2014-08-18 19:54] #48 closed, assigned to loomis

[2014-08-19 06:46] #13 closed, assigned to loomis

[2014-08-19 06:52] loomis opened #67 "update java requirement to 1.6"
Update the required version of java to 1.6 for the compiler.  Generate byte code with a minimum java version of 1.6 as well.

[2014-08-19 06:53] #67 closed, assigned to loomis

[2014-08-19 15:50] loomis opened #68 "head version of repository has different behavior for binary files"
The HEAD version of the compiler provides different output for binary files embedded in the machine profiles.  The first commit with this problem is 11d8b0544bb7199820da3be792076fafc7fa60cd.  This change fixed many FindBugs issues related to the default machine file encoding.

[2014-08-19 19:09] #68 closed, assigned to loomis

[2014-09-02 11:26] loomis opened #70 "create null formatter"
Create a null formatter than creates empty output files.  Primarily for performance testing to understand what part of the compiler execution time comes from profile IO.

[2014-09-02 11:27] #70 closed, assigned to loomis

[2014-09-13 13:46] stdweird opened #71 "extract pan version from commandline and jar"
Trying to determine the pan version of a jar via commandline. is there a java oneliner that can print this? (also `panc --version` would be nice)

[2014-09-13 14:59] jouvin opened #72 "Add --version option to panc command"
To help with #71, it would be nice to have a `--version` option in `panc` command.

[2014-09-13 15:01] jouvin opened #73 "Add `panc-version` Ant task definition"
To help with #71 for users using SCDB, it would be nice to have a Ant task `panc-version`. This requires to add the relevant java class.

[2014-10-07 12:49] jrha opened #76 "Syntax check describes all templates as object templates"
Really minor, but it's been around for ages and bugs me.

When running a syntax check on all profiles with ant, `panc` outputs that it is processing large numbers of object templates, when in fact these are all kinds of templates.

I guess an easy fix would be just to drop the "object" from [#L180](https://github.com/quattor/pan/blob/031f3827b7f781c03e25276203c311172d465a5b/panc/src/main/java/org/

[2014-10-22 07:21] jouvin opened #77 "Accept a variable to define path prefix"
After introducing in 10.1 the possibility to use a variable in `bind` statement, it would be good to allow a path prefix (`prefix` statement) to be also defined with a variable rather than only a plain string. The use case is also `ncm-metaconfig` related. Below is an illustration:

[code]

At some point in the future, we could even want to generalize the use of variables in paths, allowing someth

[2014-10-22 17:45] jouvin opened #78 "mvn package doesn't work if an unreachable DISPLAY is defined"
When running `mvn package` with environmnent variable `DISPLAY` defined to a host that is unreachable, this trigs the following (unexpected) error when building PDF file:

[code]

[2014-10-22 19:09] #72 closed, assigned to loomis

[2014-10-22 19:09] #73 closed, assigned to loomis

[2014-10-22 19:10] #71 closed, assigned to loomis

[2014-10-22 19:15] loomis opened #79 "move documentation sources to restructured text"
Change the documentation sources from docbook to restructured text.  The goal is to make this compatible with Sphinx and to post the documentation on readthedocs.org.

[2014-10-22 19:16] loomis opened #80 "enable automated build of pan documentation on readthedocs.org"
Enable the connection to readthedocs.org from github.com so that all of the pan docs appear update automatically on the site.

[2014-10-22 19:24] #76 closed, assigned to nobody

[2014-10-28 04:16] #80 closed, assigned to loomis

[2014-10-28 05:42] #79 closed, assigned to loomis

[2014-10-28 06:05] loomis opened #82 "allow path expressions in assignment statements to contain interpolated variables"
Allow interpolated values to appear in path assignment statements.  For example:

[code]

would assign the value 'ok' to the path '/alpha/beta'.

Before implementing this, an evaluation needs to take place on the impact on the performance.  This may impact the raw compilation performance because every path will need to be checked to see if it is a constant or variable value.  At runtime, all varia

[2014-12-27 13:47] jouvin opened #83 "RFE: add support for type subclassing"
Currently panc doesn't really support any subclassing mechanism (apart from `extensible` which is too permissive to be really useful in most cases) and makes difficult to properly handle cases like the monitoring configuration in the schema (https://github.com/quattor/template-library-core/issues/59) where the `/system/monitoring` type should be defined by the monitoring system used. Currently we

[2015-01-02 22:46] ned21 commented on #83
This seems reasonable but I have a bad feeling it's really a bit of a minefield. Understanding and finding the cause of type validation errors is already fairly difficult, and from what I know of type systems, they quickly become very hard to reason about and a burden on the developer to the point where they prefer to use dangerous type-free languages instead.

So, I wonder if there's a simpler so

[2015-03-04 14:53] jouvin commented on #77
@loomis during Quattor workshop in Grenoble, it appeared that we really require some progress on this if we want to make the ability to use variables in `bind` statement useful. The main use case, `ncm-metaconfig` requires both binding a possibily variable configuration path to a schema and defining the properties for this configuration path.

From #82, I understand that adding a general support f

[2015-03-04 15:16] jrha commented on #77
From @loomis's response above it would seem not.

[2015-04-01 10:02] loomis commented on #77
Interpolating only the prefix value is not possible.  The prefix values are treated at compile time where there is no runtime context (and thus no global variables).  The only interpolation possibilities are either allowing interpolation in all cases (general case #82) or none.

[2015-04-07 13:53] kwaegema opened #84 "multiline not possible using @documentation desc"
[code]

will return an error on compiling:
`Encountered " <KEY> "the "" at line 3, column 13.
Was expecting:
    <EQUALS> ...`

[2015-04-07 14:02] loomis commented on #84
If you want a multiline description, then you'll need to use the form:
[code]
You cannot use multiline strings when using the key/value format of an annotation.

[2015-04-11 12:06] stdweird opened #85 "panc-annotation testing"
`panc-annotation` does not return exitcode > 0 if there was an error.
can we rely on `panc-annotation` that a missing `.xml` implies an error? (this would imply that there is an output xml for each input file)

also it's unclear what syntax checking is supported, e.g. i "tried" typo
[code]
and it happily created an (almost) empty xml output. i assumed it to raise some syntax error.

[2015-04-14 21:50] jrha opened #87 "Using append() to operate on SELF within a DML block causes bad times"
I discovered this one today while doing clever things™.

The following code will reliably produce an infinite loop with panc 10.2.

[code]

As will:
[code]

But not:
[code]

Interestingly this does not affect the append within the loop, the trigger seems to be a local variable initialised from one outside the DML block.

[2015-04-15 14:18] stdweird opened #88 "include-path wins over template specified on commandline"
is this intended behaviour?

[code]

[2015-04-28 14:06] jrha commented on #83
What happens is:
[code]

[2015-05-28 16:52] gombasg commented on #56
We're seeing both occassional NullPointerException and panc lockups. All seem to be related to TreeMap. Stack trace from a locked compiler (there are 2 threads running with the same stack trace, each eating ~100% CPU):

    "pool-5-thread-3" prio=10 tid=0x00002ac36c009800 nid=0xae1e runnable [0x00002ac3780fe000]
       java.lang.Thread.State: RUNNABLE
           at java.util.TreeMap.getEntry(TreeM

[2015-05-28 17:00] gombasg commented on #56
[Issue 6](https://github.com/quattor/pan/issues/6) is another manifestation of the same problem.

[2015-05-28 17:01] gombasg commented on #6
We're still on 10.1, but no commits in the history since makes me believe 10.2 would be better.

[2015-06-02 13:28] jrha opened #91 "Add functions for max and min"
We currently use `min()` and `max()` for configuring filesystem and memory based settings, we have defined them in pan code, but that's dull, they should be part of the language.

[2015-06-03 06:40] stdweird opened #92 "support dep.gz output format"
currently, the generated `.dep` files are larger then our `json.gz` profiles.

[2015-07-29 18:34] stdweird opened #93 "final variable can't be null?"
[code]

output (`TEST` is ok, `TEST2` not)

[code]

[2015-07-29 18:37] stdweird opened #94 "clearer error message on final variable error"
it would be nice if the name of the variable that causes the issue is logged (although the line where it occured is sufficient to debug the issue)

[code]

[2015-07-29 21:11] ned21 commented on #93
What's your expected behaviour? final means it cannot be changed and setting it to null is a change?

[2015-07-30 05:11] stdweird commented on #93
@ned21 i expect the following to compile
[code]

the default should not be assigned, so `TEST2` is `null`. playing with it a bit more, it actually already fails on
[code]

gives
[code]
while i expected this to be empty.

so this probably has nothing to do with `final`, but rather with default assigmnet and the `null` value. i expect that default assigment works like this for `undef` value, but not

[2015-08-04 13:28] jrha commented on #94
Which is why I want something like [this](https://gist.github.com/jrha/5600336) implemented natively, see #39.

[2015-08-25 08:56] stdweird opened #95 "function to check type"
currently we have a bunch of code that does things like

[code]

this is typically used to make new types out of sub-types like

[code]

it would make a lot of sense to be able to test the type directly like

[code]

[2015-10-20 15:39] jrha commented on #18
:+1:

[2015-10-27 13:57] stdweird opened #96 "support booleans in equality / inequality tests"
[code]

fails to compile with

[code]

(same for `!=`)

[2016-01-07 13:13] ned21 opened #97 "file_exists() requires an extension"
[code]

If dir/struct.pan or dir/struct.tpl exists then I would expect to find the value in /test. However file_exists is always false so I expect it's not checking the extensions automatically.

Workaround is to use exists() instead which handles the suffix correctly.

[code]

[2016-01-07 14:22] stdweird commented on #97
you mean `template_exists`? `file_exists` is for people who like to ship existing files as-is with filecopy, so the argument is the file

[2016-01-07 14:37] jrha commented on #35
Perhaps `/metadata/panc`

[2016-01-07 21:56] ned21 commented on #97
Agree a ```template_exists()``` function would be a better way to solve this.

[2016-01-08 11:41] jrha commented on #97
Can `if_exists()` be used to achieve what you want?

[2016-01-08 11:43] jrha commented on #97
Not a bug, behaves as designed (and documented) but there is missing functionality (add a `template_exists()` function)

[2016-01-08 12:08] jouvin commented on #97
I have the feeling that it exists... Have you checked it the `exists()` function with a relative name (relative to the loadpath) is not doing the job?

[2016-01-08 12:41] jouvin commented on #97
I confirm. From the `exists()` synopsis:
{{{
boolean exists(var);
variable_expression var;
boolean exists(path);
string path;
boolean exists(tpl);
string tpl;
}}}

[2016-01-08 12:50] jouvin commented on #97
About `if_exists()`, it is dedicated to templates but has a different use case. It is mainly intended to be used in `include` to achieve a conditional include based on the template existence. It has the nice behaviour of returning either the template name to be included (the string passed as an argument in fact) or undef when the template doesn't exist. This is basically a nice shortcut for:
[code

[2016-01-08 13:39] jrha commented on #97
`exists()` is dangerous because it tells you if anything with that name exists, be it a variable, path in the configuration or a template, it's horrible and not to be recommended.

[2016-01-08 13:43] jrha commented on #97
WRT `if_exists()`, does this get you what you need for now?
[code]

[2016-01-08 13:52] jrha commented on #97
[code]

[2016-01-08 14:23] jouvin commented on #97
I disagree as every kind of object is non ambiguous due to the diference in permitted/starting characters. It's really safe.

[2016-01-08 14:41] jrha commented on #97
Huh? I have clearly misunderstood something. I really hate overloaded functions :unamused:.

[2016-01-08 14:58] jouvin commented on #97
The point is that:
* a variable name cannot contain any `/`.
* a configuration path must start with a `/`
* a template name must be relative (not start with a `/') but can contain (this is almost always the case) a `/ ` denoting the Pan namespace. Note that the template name is not the file path name but really the Pan namespaced name.
There is a potential ambiguity only between a variable name an

[2016-01-10 12:15] ned21 commented on #97
Is this an example of where exists() may do the wrong thing?

[code]

if_exists is an interesting workaround I will try out.

[2016-01-10 13:45] jouvin commented on #97
I don't see any reason why the example you gave would not work... except if the loadpath is incorrect and if `structures/...` cannot be located using it. You may want to add a `debug()` message to print the loadpath...
`if_exists()` can certainly work but `create()` conversely to `include` doesn't accept an `undef` argument and you'll have to do something like:
[code]

or probably better:
[code]

[2016-01-10 13:51] jouvin commented on #97
I answered too quickly. Yes, the example provided tests the existence of variable `structpath`, not of the template! The documentation has an example about it:
[code]
It's true that using `if_exists()` is probably less error prone...

[2016-01-10 13:56] Pansanel opened #99 "Add new pan features to the VIM pan plugin"
The VIM plugin has not been updated for 4 years. New PAN keywords and syntax should be added.

[2016-01-12 14:09] jrha opened #100 "Build package for VIM syntax plugin"

[2016-01-16 16:32] jouvin commented on #18
:+1:

I came across a use case in the last days for which I found no workaround. For the httpd configuration at LAL, we want to have a basic configuration  plus a few optional httpd components that we can combine without the need of defining a boolean to control the inclusion of a specific template. It would be very handy to be able to define the list of templates to include (one per optional comp

[2016-01-16 17:30] jouvin opened #101 "10:2: unexpected interpretation of characters in annotation text"
The following template:
[code]
Encountered "<EOF>" at line 2, column 55.
Was expecting:
    <EQUALS> ...
[code]
parse error [/tmp/test.pan:3.1-5.1]
Encountered " <ERROR> "+ "" at line 2, column 37.
Was expecting one of:
    <EOF>
    <KEY> ...

[code]

[2016-01-18 07:55] loomis commented on #18
This would require changing the pan language grammar to allow a list as a valid argument for an include statement.  A separate function would need to be added for the implementation of the include statement variant.  In general, this shouldn't be to difficult to implement, although the implementation will have to be careful to check all of the arguments for validity.

[2016-01-23 10:37] stdweird opened #102 "utf8 error while running tests"
from jenkins jobs (not sure if this causes the tests to fail)
[code]

[2016-02-11 16:37] stdweird opened #103 "`merge` with single argument"
Extend merge builtin to support the use caseof a single argument, updating `SELF` inplace, simialr to `append` with single argument. (if you need a new name for this function, i propose `update`)

[2016-02-12 09:28] jrha commented on #103
I've always considered `append` with a single argument to be dangerous, there have been many cases at RAL where templates have started with something like:
[code]
Which has then later become something like:
[code]
Which then causes hours of pain for admins trying to work out why things have disappeared, I'd prefer `merge` not become another source of pain.

[2016-02-12 11:20] stdweird commented on #103
@jrha hmmm, i wouldn't mind if `push` would become a loop `append`ing each argument, or introduce a single argument version of `append` maybe as a small function?
anyway, i won't object using a different name for this feature.

[2016-02-12 11:30] jrha commented on #103
Also see #53.

[2016-02-12 11:31] jrha commented on #103
I would still love push and family to become pan built-ins.

[2016-03-22 13:59] jrha commented on #35
As discussed at the (21st) workshop, I have a fear of adding anything at the top level of the schema.
Aquilon already writes lots of metadata to `/metadata` so it makes sense to me to define `/metadata/panc` in the schema (to declare it's existence) and get the compiler to write the value there.

[2016-03-22 14:06] stdweird commented on #95
@loomis forgot to ask: do you this is feasible?

[2016-03-22 14:08] loomis commented on #95
Yes, it is feasible.  Probably fairly straightforward to implement.

[2016-03-23 07:29] stdweird commented on #35
i also vote for "/metadata/panc", and added to the schema as a `panc ? dict()`
i would like (if possible) that  following metadata is added
* panc version as a string
* escape: boolean, if present and false, the escaping is switched off
Other info
* timestamp of compilation (unixtimestamp is fine)
* hostname of compilation host
Even more info
* any/all options used, a list of string is fine, a dic

[2016-03-23 07:30] stdweird commented on #35
@ned21 @gombasg @jouvin we also agreed that we would either agree or come up with better proposal, so @loomis can implement this

[2016-03-23 08:22] jouvin commented on #35
As for me, I'm basically fine with @stdweird proposal. But I would refrain adding too much details for free, we could always add it at a later stage when we have a use case for it. For example, I am not sure that compilation time means anything we can rely on but @loomis can comment. And I'm doubtful about compilation options but I may miss a use case for it...
As soon as we agreed on the informat

[2016-04-07 16:33] gombasg commented on #56
I'm trying to add some instrumentation to the code to catch where the race is happening (the NullPointerException happens later, when the TreeMap is already corrupted). One common occurance (but not the only one) is RecordType.setDefaults().

My current suspicion is the copy-on-write handling of HashResource being broken - either a shallow clone operation is missing somewhere, or the mechanism bet

[2016-04-07 16:37] gombasg commented on #56
[panc_debugging.txt](https://github.com/quattor/pan/files/208794/panc_debugging.txt)

I attached a crude patch I'm using to try to catch the race in action. Unfortunately, so far I was only able to capture one of the threads which are racing. I'm using it on top of 10.2, btw.

[2016-04-07 16:42] gombasg commented on #56
Btw. I'm concentrating on HashResource, but ListResource may also be affected. Even if it is, the underlying ArrayList should be much more resistant to corruption than TreeMap, so I expect problems with ListResource harder to see.

[2016-04-12 11:04] gombasg commented on #56
Reproducer:

    mkdir -p /tmp/t/inc /tmp/t/obj /tmp/t/out

Create /tmp/t/inc/a.pan as:

[code]

Create /tmp/t/template_obj as:

[code]

Generate a good amount of object templates from the above "template of template":

    for i in `seq 1 20000`; do sed -e "s/@OBJ@/obj_$i/" /tmp/t/template_obj > /tmp/t/obj/obj_$i.pan; done

Compile the generated objects in one go, on a machine with lots of CPU co

[2016-04-12 11:04] gombasg commented on #56
Oops, pressed close by mistake...

[2016-04-12 17:07] gombasg commented on #56
Ok, I've just published a pull request. It should be considered RFC at this point, since I know it is not the full story. It makes the test case I've posted above work without triggering the poisoning - at least so far.

[2016-04-12 21:20] gombasg commented on #35
I'd leave the timestamp out, since that is already available as the timestamp of the profile itself, and it would introduce an unnecessary update even if nothing else in the profile has changed. Similarly, compilation time would be better kept elsewhere - clients are not interested in it, and processing wise, reading a central logfile (preferably structured) would be easier than parsing all the pr

[2016-04-15 11:48] gombasg commented on #56
I've updated the PR, and I don't see crashes/hangs anymore. Both compilation speed and memory usage takes ~50% hit (there are big variations depending on what do you compile), but the result is now correct.

[2016-04-27 14:45] jrha commented on #87
This is probably related to https://github.com/quattor/template-library-standard/pull/65#issuecomment-212500952

[2016-05-10 06:34] stdweird opened #106 "panc initial-data commandline option broken"
code seems to expect/use something with root-element / rootElement

(the maven -Dpan.root.element works fine)

[2016-06-06 09:44] jrha opened #108 "Builtin for push()"
As mentioned in #53 and #103 it would be good to have a push-like function as a compiler built-in.

If the left hand side of the assignment is a list, it should `append` each of the passed arguments to that list.
i.e.

[code]

Should result in:

[code]

If the left hand side of the assignment is a dictionary, it should `merge` the passed arguments.
i.e.

[code]

Should result in:

[code]

[2016-06-07 08:44] stdweird opened #109 "final default variable"
is this intended behaviour? if you can't modify a final default variable, maybe the compiler should throw an error or warning

[code]

[code]

[2016-06-07 09:27] jouvin commented on #109
For me, this is expected. Whether the value is assigned as a default value  or not should not change the behaviour. After the `final` statement, the value should be protected against changes. What should work  (not tested!) is:
[code]
but this probably doesn't address your use case...

[2016-06-07 09:29] stdweird commented on #109
@jouvin what should be the resulting value in your example?

[2016-06-07 09:45] jouvin commented on #109
2! At least this is my guess (and any attempt to modify `X` later should fail), I didn't try.

[2016-06-08 10:42] ned21 commented on #108
I am not keen on mixing push() for lists and dicts. Moving npush() to a compiler built-in would be nice I suppose but the separate names are helpful for understanding the type being manipulated.

[2016-06-08 10:45] ned21 commented on #109
This looks expected to me too. ```final variable X ?= 1;``` means that no further modifications to X are allowed even if the value was previously set.

[2016-06-08 11:09] stdweird commented on #109
ok, thinking a bit more about it, i now also agree and see possible use cases for. but not the code i was working with :smile:

[2016-06-08 11:09] #109 closed

[2016-06-08 15:16] jrha commented on #108
`npush` or `dpush`?

[2016-06-09 13:50] jrha opened #110 "Builtin for npush()"
Following on from discussion in #108.

* Should we have a seperate builtin to replace `npush` (or could push do both lists and dicts)?
* Should it be called `npush` or `dpush`?

[2016-06-09 14:10] DChambersSTFC commented on #108
From what I can see, the Pan push() function works the same way as described here. Also, if the list being pushed to doesn't exist, an empty one will be created before being added to. If one of the arguments is a list itself, it will be appended as a list within the list being pushed to.

E.g
[code]
would result in

`"foo" : ["spam", ["beans", "eggs"]],`

For now, I will be trying to reproduce the

[2016-06-09 14:17] stdweird commented on #108
can we also clarify the behviour in dml blocks, so we are certain https://github.com/quattor/template-library-core/issues/104 is not "a feature"

[2016-06-09 14:19] stdweird commented on #108
@DChambersSTFC i'm not sure that mixing types in a list is a feature we want.
to proceed, we should first agree on the unittests (ie the pancode and the produced json profile)

[2016-06-10 09:27] jrha commented on #108
@stdweird as discussed at the workshop, I'm pretty sure that  quattor/template-library-core#104 isn't a feature, so it would be good to guard against it.

[2016-06-10 12:02] DChambersSTFC commented on #108
Would it be appropriate to restrict all arguments to be the same type then?

[2016-06-10 12:09] stdweird commented on #108
yes, i think so.
@DChambersSTFC are you going to add these to pan (as in 'add code')? (i'm asking because we have a summerstudent starting in 2 weeks to have a look at pan and howto possibly add new builtins and refine some error messages)

[2016-06-10 13:28] DChambersSTFC commented on #108
I'm working on adding them currently as I'm also new to pan and using this issue to learn my way around.

[2016-06-10 14:11] jrha commented on #108
I would be good for @DChambersSTFC and your student to collaborate then!

[2016-06-10 14:29] DChambersSTFC commented on #108
My main obstacle currently is referencing the object that called the function. Is anyone familiar on the use of the SetSelf function or knows of what I should be using?

[2016-06-10 15:45] stdweird commented on #108
@jrha @DChambersSTFC are you keeping notes how to add this (incl docs and unittests)? it's was basically the first thing we were going to ask our student: document how and were to add code and docs and tests for a new builtin. mayube they can meet during q4b?

[2016-06-16 12:17] stdweird opened #113 "improve/verify documentation"
Verify and/or improve the documentation. Add pointers to the relevant parts in a post to the website https://github.com/quattor/quattor.github.com/tree/master/_posts or the `README.md`
* building/testing
- [] run unittests
- [] build new version
- [] build latest doumentation / make it available on readthedocs
* adding new builtin (separate post)
- [] add code
- [] add unittests
- [] add documenta

[2016-06-17 05:37] stdweird opened #114 "Add choice type"
The choice type determines if a string is in a list of possible choices (name from to the python optparse choice option). This would replace the current heavy usage of `string with match(SELF, '^(a|b|c)$')` with

[code]

String as a basetype is the most common one (or even only one). makes no sense for boolean i think, and long already has `long(1..4)` which is something similar. so only float is

[2016-06-22 10:17] DChambersSTFC commented on #108
@loomis Do you know how I can reference the object calling the function?

[2016-06-22 11:34] loomis commented on #108
@DChambersSTFC The "Context" object passed into the functions contains the full context of the compilation, including the current state of the object being built and the reference to "self".  See the "Context" interface for the full list of available methods.

Be very careful about mutating data structures that you access directly.  They are often shared between object templates and direct mutatio

[2016-06-30 08:10] stdweird opened #115 "format support automagic to_string"
following should work

[code]

where any formatted resources should be converted to strings using `to_string`

[2016-06-30 08:17] stdweird opened #116 "error/debug() should support formatting"
error and/or debug should support auto formatting, i.e.

[code]

should do a `error(format("template %s", a))`

[2016-07-05 08:31] stdweird opened #117 "pan standalone pan unittests"
pan compiler has a nice test framework to run pan code and look for expected behaviour. it would be nice if we could shomehow run it outside the pan unittests

the relevant code is in https://github.com/quattor/pan/blob/master/panc/src/test/java/org/quattor/pan/utils/TestUtils.java

[2016-07-07 10:51] #102 closed

[2016-07-07 13:04] stdweird opened #120 "require java 8"
is there any reason to support anything except java 8 or later?

[2016-07-07 14:50] jouvin commented on #120
I remember discussing this with @loomis a number of times and his position (he convinced me!) was to support the latest Java (and encourage people to use it) but to require (and thus build on) the oldest possible one that had all the required features (probably Java 5 or 6).

It's true that with all the security vulnerability in these old versions (in particular all the things related to SSL), it

[2016-07-07 14:55] loomis commented on #120
Java 8 is the only one currently supported by Oracle.  Requiring it is probably reasonable.  You should check with MS; however, there were running old versions of java at some point in the past. Also at some point Java 8 OpenJDK wasn't easily available on all OSes (Ubuntu 14.04 is one, I believe). This may have changed.

[2016-07-07 16:16] stdweird commented on #120
@ned21 @gombasg tougths/objections?

[2016-07-07 20:34] ned21 commented on #120
Java 8 is fine.

[2016-07-08 04:57] stdweird commented on #120
@iliclaey can you have a look at this? i found http://maven.apache.org/enforcer/enforcer-rules/requireJavaVersion.html to set a minimal java version. i'll fix jenkins next week

[2016-07-12 12:52] stdweird commented on #120
Fixed in https://github.com/quattor/pan/pull/118/commits/55c668c6fbef28074508573efd3952b603823856 and jenkins now tests with jdk1.8.0

[2016-07-26 07:27] stdweird commented on #95
to follow the internal code, and not cause any confustion, we settled on the function name `validate` to test a variable or value using the type validation code.

(`is_type` might suggest that you test if a variable (or path) is of a certain non-trivial type. this makes sense for the base types, but those already have dedicated functions like `is_string`. but not for variables, as you cannot bind

[2016-07-26 08:09] ned21 commented on #95
The problem with validate() is discovery -- how does someone know a particular function exists? If the only reason not to use is_type() is because someone might try to apply it to a variable then surely that is best handled in the documentation?

[2016-07-26 08:24] stdweird commented on #95
@ned21 `is_type` is confusing because it does not check the type. maybe i should rename this issue to `function to test value/variable using type validation`? (if this makes no sense, then i didn't understand your question :smile: )

[2016-07-26 10:16] ned21 commented on #95
Yep, I think I am confused as to what this does. Can you provide a real code example instead of a generic one? Then I might understand it better. :(

[2016-07-26 11:38] stdweird commented on #95
i see 2 main use cases:
* e.g. avoid the mess that is https://github.com/quattor/template-library-core/blob/master/pan/types.pan#L418
[code]
this would get rid of a bunch of functions that are only used because you currently cannot easily combine types (without refactoring or factroing out the validation code).
* other use case would be to use existing types in control structures
e.g. assume type

[2016-07-26 15:03] ned21 commented on #95
The examples in the docs for the PR help explain this better. I can see why ```is_type``` is wrong since you are comparing (<type>, <element>), to make sure <element> _validates_ as that type.

Validate remains a vague and overly general term which is very close to the existing ```valid``` statement. How about ```valid_type(type, value)``` ? I suppose that makes it sounds like checking type exists

[2016-07-26 15:27] stdweird commented on #95
@ned21 the pan book has the following wrt bind "If any of the content does not conform to the specified types, then an error will occur during the compilation.". maybe `conform` as function name? or `is_conform`, or `conforms`?
i'm bad with names, not proposing anything more :smile:

@iliclaey feel free to make even more suggestions

[2016-07-26 15:38] ned21 commented on #95
+1 for accuracy of ```conform(type, element)```. It's not very discoverable if someone is grepping the book for type related functions but it ticks all the other boxes.

[2016-07-26 15:48] jouvin commented on #95
What about `is_valid(element, type)`? At the end, this is to assess if a particular value is valid for a given type, if I followed correctly.

[2016-07-27 08:04] iliclaey commented on #95
I think `is_valid` most clearly conveys what this function does

[2016-07-28 14:40] iliclaey commented on #93
While testing, this is what I found.
When setting a final variable to `null` or `undef`, `is_defined` results to false and `exists` results to true in both cases.

In the TEST3-case, the reason "/a" is not empty is because `null` deletes the variable, even though it still supposedly exists.

[2016-07-29 13:46] iliclaey commented on #88
@stdweird This is what I found so far:

I think the include-path option should be used to tell the compiler it should look for the templates
passed on the command line (or included templates) in these directories. In the case above,
it will therefor only look for the simple.pan file in the a/ directory.

A hashmap is used to map the name of the file/template to its current task/phase. If you would

[2016-08-26 06:51] stdweird opened #127 "annotations cannot have ="
following template

[code]

gives following error (due to the `=` in the annotation)

[code]

[2016-10-05 10:21] piojo opened #128 "initial-data on the command line forces a recompilation all profiles"
Try this:

[code]
(command line may change, please somebody at ugent review `bc`)

with no changes whatsoever.  It will recompile everything.

It makes some sense, since you may be implying `/metadata/id` has to become 43 on all hosts, and that requires a recompilation.

But still, for IDs in particular we don't want to recompile everything.

[2016-10-12 10:35] jrha commented on #83
My personal experience has always been that refactoring the way types are built up can remove the need for sub-classing and agree with @ned21 that this could just make things worse.

[2016-10-13 10:41] jrha opened #129 "dot output format is broken"
It would be occasionally useful if this still worked, but quotes in label strings are not correctly escaped and trigger syntax errors when trying to render the graph.

Usually (but not always) this is caused DN strings.

e.g. (paths shortened for sanity)
[code]

It would be *more* useful if there was a dot equivalent for the dep file but that's for another time.

[2016-11-01 22:39] jrha opened #130 "Add a configurable size limit to `file_contents()`"
We recently found a couple of 33MB host profiles created by a user distributing large (binary) database files with filecopy... :scream: a configurable maximum file size would at least help safeguard against this and prevent anyone from thinking it might be a good idea.

I would suggest that `file_contents` could check for binary files as well, but seeing as everything is treated as utf-8 in Pan, t

[2016-11-24 12:51] #95 closed

[2016-12-06 11:10] #106 closed

[2016-12-06 12:02] #115 closed

[2016-12-06 12:04] #114 closed

[2016-12-06 12:05] #120 closed

[2016-12-06 12:06] #117 closed

[2016-12-07 15:27] jrha opened #131 "format() does not fully validate arguments"
In particular, the following are accepted as valid:
* `format('dave')` which should complain that:
   * the format string contains no format specifiers
   * no arguments have been passed for formatting
* `format('x is y', 4, 5)` which should complain that:
   * the format string contains no format specifiers
   * more arguments have been passed than format specifiers
* `format('x is %d', 1, 7, 9)`

[2016-12-07 16:33] jrha opened #132 "type annotations do not include default values"
Which is rather unhelpful when trying to produce documentation.

[2016-12-13 18:38] stdweird opened #133 "package panlint with panc in the rpm"

[2017-02-21 12:30] NZJourneyMan opened #137 "panlint crashes when template has tab characters"
[code]

It looks like the unicode character is coming from this function in panlint:

[code]

This assumes that the terminal can cope with unicode. If the terminal capability is unknown it would be better to use an 8 bit character and the latin codec or even safer, choose a 7 bit character.

This does raise the question of what happens if a templates contains 8 bit characters or some form of utf e

[2017-02-21 13:19] jrha commented on #137
Whoops.

In terms of the pan compiler, I believe everything is treated as utf-8.

[2017-02-21 13:29] jrha commented on #137
Out of interest what terminal are you using?

[2017-02-21 13:35] jrha commented on #137
Could you let me know what `python2 -c "import sys; print sys.stdout.encoding"` gives you?

[2017-02-21 14:47] NZJourneyMan commented on #137
We are mainly using ANSI_X3.4-1968, otherwise known as pure 7 bit ascii.

[2017-02-24 18:09] jrha opened #139 "Add function for value_if_exists"
A pattern we see a lot is:

[code]

It would be much neater if we could just do something like:

[code]

[2017-02-25 09:33] stdweird commented on #139
imho, your example is missing the else block.

i propose to add default options value, so a default is set when no path exists, e.g.
[code]

[2017-02-25 09:36] #137 closed

[2017-02-27 10:42] jrha commented on #139
I like your suggestion.

It is missing the else block, but that was intentional, you will often find the defaults further down implemented with...
[code]

[2017-02-27 11:04] stdweird commented on #139
hmmm, in that case, the default value won't help, probably make things worse.
coudl we make `SELF` the default default value? (ie in case there's only one argumnet to value, and that path doesn't exist, use `SELF`? (it would have the side effect that value might not fail anymore on any path; so faulty pan code might suddenly compile)

[2017-02-27 11:37] jrha commented on #139
I don't like hidden behaviours, I think if you want `SELF` you should ask for it.

In terms of the `?=` defaults stuff...
[code]
Would work for us.

[2017-02-28 03:43] ned21 commented on #139
Are you really using global variables like that? Or is it just an overly simple example? Why not just replace the global with direct access to the path since my definition anywhere you could have used the global the path value is available?

[2017-02-28 10:27] jrha commented on #139
Overly simple example... but not too unrealistic.

[2017-03-01 12:48] wdpypere opened #141 "panlint: ssh keys - line too long"
As I started using panlint to cleanup our tree I found it fails for ssh authorized keys on line too long.
Now I could not find a way to exclude them, or split them in a functional way to keep panlint happy as well as maintain the expected output in the profile.

[2017-03-01 12:54] wdpypere opened #142 "panlint: missing space after operator"
As I started using panlint to clean up our tree I found we use things like:
[code]
or:
[code]

and now it fails with:
[code]

Which does not seem correct to me.

[2017-03-02 16:19] jrha commented on #142
Agreed, any suggestions on how to handle these?

[2017-03-02 16:26] jrha commented on #141
We encounter the same problem and simply ignore the errors for those files, do you have a better idea for how to handle this?

[2017-03-04 20:49] ned21 opened #143 "panlint: No spaces should be required inside []"
panlint is currently suggesting that this is the correct way to space an expression inside []
[code]

when other languages (e.g. python) prefer:

[code]

cf. https://github.com/quattor/configuration-modules-core/pull/1048#discussion_r103177777

[2017-03-09 13:19] wdpypere commented on #142
not really, @stdweird you have suggestions?

[2017-03-09 13:21] wdpypere commented on #141
well, we run panlint as a test on changes so having a --exclude option or something and then a regex for something like "ssh-rsa <high number of characters>" ?

[2017-03-09 13:24] stdweird commented on #142
a `-` followed by a `\d` not preceded by a `\w` is fine. ie some positive lookahead magic 😀

[2017-03-17 07:20] stdweird commented on #143
The fix in #145 only supports simple expressions in square brackets

[2017-03-18 11:04] jouvin opened #146 "panlint requires 4 space indentation on continuation lines"
As show the example in https://github.com/quattor/template-library-core/pull/154/commits/9e27de2870876f68fdb3514952f4d97166b5547f, panlint insists on having a 4 space indentation on continuation lines, like:
[code]
this is inappropriate and if anything is enforced in this case, it should be left alignement between all argument lines, like:
[code]

[2017-03-21 09:06] jrha commented on #146
It is in fact by design, as I highly dislike continuations used in this way and much prefer the line to be rewritten as:

[code]

[2017-03-21 13:50] jrha opened #147 "Provide IPv6 functions equivalent to those for IPv4."
e.g. ip6_to_long...

Came from discussion of quattor/aquilon#42.

[2017-03-27 12:53] #142 closed

[2017-03-27 12:53] #143 closed

[2017-03-29 15:05] jrha opened #148 "Cannot release with Java 1.8"
Unfortunately codebase now requires Java 1.8.

Related to quattor/maven-tools#159

[2017-03-29 15:24] jouvin commented on #148
Fortunately :-)

[2017-03-29 15:40] jrha commented on #148
Fortunately it now works with 1.8, unfortunately it requires it?

[2017-03-29 15:54] jouvin commented on #148
The opposite :-) Fortunately it requires 1.8 :-) 1.6 and 1.7 have severe security problems and it is good we cannot use them anymore... Personnally, I think, as said at the workshop, that we should require 1.8 for our Java tools in future releases (it means updating the `maven-compile-plugin` that still requires 1.5 as a minimum).

[2017-03-29 17:07] #148 closed

[2017-03-30 10:35] jouvin opened #150 "panc 10.4-rc1: binary file contents modified..."
At GRIF, we use to push through filecopy a binary file (munge key) and with 10.4.-c1, the profile contens changes for it:
[code]
Not sure how to troubleshoot this... Is there any recent change that may explain this (our production version is 10.3).

[2017-03-30 10:46] stdweird commented on #150
same java version? maybe some encoding default? who do you fill in the value in the template?

[2017-03-30 10:47] jrha commented on #150
Have you tested 10.4 before? I have a snapshot jar from January you can compare against if you want.

[2017-03-30 10:53] jouvin commented on #150
@stdweird you are right, I changed the Java version from 1.7 to 1.8 yesterday (I realized we were still using 1.7)... and 10.3 exhibits the difference when changing the Java version... This is a little bit worrying but not related to this release. This issue can be closed.

[2017-03-31 09:49] #150 closed

[2017-04-04 09:39] wdpypere commented on #141
We now load the ssh keys in a different way, so this is no longer an issue for us. afaik, this can be closed.

[2017-06-23 16:34] stdweird opened #156 "dict keys should be able to start with digit, as long as they aren't digit-only"
Why is https://github.com/quattor/pan/blob/master/panc/src/main/java/org/quattor/pan/utils/TermFactory.java#L51 the index pattern, when there's also https://github.com/quattor/pan/blob/master/panc/src/main/java/org/quattor/pan/utils/TermFactory.java#L116

This makes no sense imho

[2017-06-23 16:48] stdweird commented on #156
ah, we allow for indices addressed with hex like
[code]

hmmm, not sure who ever uses that; but if the penalty is not to allow dict keys to with a digit, it must be a pretty awesome one...

[2017-06-23 17:04] stdweird commented on #156
and `09` is not a valid index either (octal mode and all that). not that leading `0`s should be encouraged or anything 😄

[2017-08-07 05:37] stdweird opened #161 "panlint: improve profile path detection"
[code]
from
[code]

[2017-08-09 16:24] stdweird opened #162 "pan dict keys support relative panpath"
this might open Pandora's box but i would like to avoid nested dict/list structures and use panpath syntax in dict keys, eg

[code]
instead of
[code]

good idea or pure laziness?

[2017-08-09 20:05] ned21 commented on #162
Hard to tell from such an example which should already be optimised to:
[code]

Do you have a larger examples so we can evaluate it?

[2017-08-10 08:42] jrha commented on #162
It scares me… but you must have had a reason for wanting it… right?

[2017-08-10 08:46] jrha commented on #162
It would also require some way of resolving conflicts.

e.g. how should the following be dealt with?

[code]

[2017-08-10 08:48] stdweird commented on #162
dunno, what does pan do with
[code]
probably the same

[2017-08-10 08:51] jrha commented on #162
:man_shrugging:

[2017-08-10 08:54] jrha commented on #162
Well in that specific example it throws a parse error :stuck_out_tongue:
[code]

Once the quotes are fixed, it throws a syntax error:
[code]

[2017-08-10 09:03] stdweird commented on #162
the use case is metaconfig 😄
using it garantees very long pan paths, so using absolute path on lefthandside of assignment is unusable and so are frequent prefixes.

example use case if for configuring services which require complicated schemas like https://github.com/quattor/configuration-modules-core/blob/master/ncm-metaconfig/src/main/metaconfig/logstash/5.0/tests/profiles/config.pan#L25

anothe

[2017-08-10 09:10] stdweird commented on #162
the logstash example has another difficulty because we use append there, and are thus forced to break up the lefthand side and the values. if only we could also do
[code]
instead of
[code]
switching to structue templates is not that nice either

[2017-08-10 09:24] jrha commented on #147
A complication is that the largest integer type in Pan is a `long` which has the same characteristics as a Java `long`, i.e. a signed 64-bit integer (-9223372036854775808 to 9223372036854775807) which is far too small for IPv6's 128-bits or even a pair of 64-bit values (network, host).

[2017-08-10 09:30] jrha commented on #147
Another possibility would be to expose [BigInteger](https://docs.oracle.com/javase/8/docs/api/java/math/BigInteger.html) as a new data type.

[2017-08-10 12:52] stdweird opened #163 "default not honoured in dict of type"
Following compiles as expected
[code]
and has correct result
[code]

but making a dict of that type doesn't honour the default assignment
[code]
gives
[code]

[2017-08-11 07:24] stdweird opened #164 "final prevents modification of other subpath"
[code]
gives

[code]

[2017-08-11 07:24] stdweird commented on #164
@ned21 i labeled this as a bug

[2017-08-11 07:40] stdweird commented on #164
this is probably due to my limited understanding what `SELF` is.
i always assumed that SELF was some form of pointer-to, and eg `"/a" = {SELF;};` is a noop.

[2017-08-12 13:09] stdweird commented on #163
relative prefixes is pretty easy to add, see #165

[2017-08-12 14:01] stdweird commented on #162
relative prefixes is pretty easy to add, see #165

[2017-08-14 19:01] stdweird commented on #116
Fixed in #122

[2017-08-14 19:01] #116 closed

[2017-08-16 20:59] stdweird commented on #97
@ned21 can this be closed?

[2017-08-19 14:11] stdweird commented on #162
wrt logstash / append issue, i added #170, so now we can reference the last element of a list in a prefix as follows
[code]
combined with #165, this should simplify things quite a lot

[2017-08-21 19:38] ned21 commented on #97
The problem still exists. There's a workaround but ```if (is_defined(if_exists("dir/struct"))) {``` is pretty ugly and unintuitive.

[2017-10-04 15:11] urbonegi commented on #147
Lot of IPv6 support was enabled and sync to upstream during last couple of months. This is one of the main tag for this piece of work:
https://github.com/quattor/aquilon/releases/tag/1.12.40-rc1
@jrha can this be closed?

[2017-10-04 17:03] jrha commented on #147
@urbonegi - No, this issue is for support in the Pan compiler, not aquilon.

[2017-10-04 19:44] stdweird opened #172 "super + include"
i ran into this a few times already, and wondered if the following would make sense:

given includes and/or loadpath with order `dir1,dir2`, when we have a template X in dir2, and do an `include X` and the template from `dir2/X` gets included.

but sometimes we want to customise (who doesn't), and would like to do the following: make a template `dir1/X`, that also includes `dir2/X`. we now rename

[2017-10-04 19:44] stdweird commented on #172
@ned21 @jrha @gombasg thoughts?

[2017-10-04 20:36] gombasg commented on #172
My first reaction is that this would be awfully difficult to follow, because despite the name, it would not be obvious at all which template would `super include X` do actually include.

Trying to pretend this has anything to do with inheritance would be a rather bad idea. Pan does not have any concept of objects, and this super construct would not behave like one would naively expect from any obj

[2017-10-04 20:44] gombasg commented on #172
Also, if you want to pretend there's some kind of inheritance going on, then I'd really expect `dir1/X` to be able to override e.g. functions defined with the same name in `dir2/X`, maybe even final variables - and then we're going down a rather slippery slope... Some restrictions like requiring both `dir1/X` and `dir2/X` to be declaration templates, otherwise making `include next X` to fail, coul

[2017-10-04 21:38] stdweird commented on #172
@gombasg thanks a lot for the feedback. i admit i didn't give it that much thought yet 😉

the syntax should actually be `include next;` there's nothing to specify wrt template name.

wrt `include if_exists("X_custom");`, i really do not like this to litter code. we have a lot of templates that might be modified. it's true that it makes the flow very explicit and easy to follow, but what do you add

[2017-10-26 08:55] ned21 commented on #133
Any chance we can get this in 10.4? Or too late for that?

[2017-10-26 08:57] jrha commented on #133
I'll see how much work it requires, should be possible for 10.4

[2017-10-26 09:02] ned21 commented on #99
@Pansanel Did you have any time to work on this please? It would be great to have an updated plugin.

[2017-10-26 09:07] ned21 commented on #172
Discussed at RAL workshop. @gombasg will write up his proposed solution in this issue.

[2017-10-26 09:08] ned21 commented on #162
Superseded by #165

[2017-10-26 09:08] #162 closed

[2017-10-26 09:30] jrha commented on #146
So you would like to support:
[code]

[2017-10-26 09:33] jrha commented on #146
Panlint does not actually parse the language, so this cannot be supported easily.
I can allow the check to be disabled in a future version though.

[2017-10-26 09:34] #146 closed

[2017-10-26 09:40] ned21 commented on #110
Discussed at RAL workshop. We agreed that it would be good to have a `dpush` builtin which has the same semantics as the current `npush` PAN function.

[2017-10-26 13:23] #132 closed

[2017-10-26 19:24] stdweird opened #173 "if_value"
related to discussion in #167

it would be nice if function `if_value` (or other function name) could support dicts, eg `if_value(adict['key'], "somedefault")` instead of lots of occurence of `if(exists(adict['key']) && is_defined(adict['key']))`

[2017-10-26 20:49] ned21 commented on #173
Can't you write this using long path assignment?
[code]

Maybe the enhancement is to allow use of ?= to local variables?

[2017-10-27 06:44] jouvin commented on #173
I am not sure if `?=` for local variables (if implementable) really makes sense. As the variable if local, if's generally easy to manage the "default value" for the local variable. It is really different for global variables where many templates can participate in the value definition, without the ability to predict which ones, in which order.

I guess that @stdweird RFE is more for global variabl

[2017-10-27 11:40] wpoely86 opened #174 "LOADPATH and cluster.pan.includes"
When using ant, you have `pan.loadpath` and `cluster.pan.includes`. After reading the documentation, it still not very clear to me what these two do and how they can be combined? If I understood it correctly from @stdweird, you can 'prepend' search locations of `cluster.pan.includes` with `pan.loadpath`?

It would be nice if somebody could clarify the documentation a bit.

[2017-11-02 11:43] stdweird commented on #174
@wpoely86 they are combined in the following code where the filesystem lookup of the pan templates happens:
https://github.com/quattor/pan/blob/master/panc/src/main/java/org/quattor/pan/repository/FileSystemSourceRepositoryImpl.java#L63

(and empty string is always part of loadpath)

includedirs are set outside pan, loadpath inside pan (except for the ant variable, which has no equivalent on panc

[2017-11-03 20:54] #156 closed

[2017-11-08 12:43] jouvin commented on #93
Oooppsss, sorry for not jumping into this one sooner, I just saw #175 and that raised my attention. I'm afraid there is something wrong in the change: a good test would be to compile the template library examples before and after the change and check it everything is the same... As for me, `null` must be handled as a special value when it comes to variable assignments. The reason is that you want

[2017-11-08 13:04] stdweird commented on #93
@jouvin this issue is about default assigments, your example should still work. i'll add a unittest for it to make sure

[2017-11-08 13:07] jouvin commented on #93
@stdweird why only about default assignments? I think it should work equally for default or standard assignment...

[2017-11-08 13:17] stdweird commented on #93
because it's now broken for the default assignment, not for the regular use (the title is misleading, the real issue is the example3 in https://github.com/quattor/pan/issues/93#issuecomment-126184663)

[2017-11-08 13:24] jouvin commented on #93
Ok then... despite I am not totally convinced at this stage! I don't have the time to look at it more today... but again, one test to run to assess the change is correct is compiling the template library example, comparing the resulting profiles with and without the PR...

[2017-11-08 14:02] stdweird commented on #93
@jouvin i added unittest variable16. is that what you want to verify?

[2017-11-08 14:09] jouvin commented on #93
@stdweird yes but we also need the same with default values (or is it already there)?

[2017-11-08 14:10] stdweird commented on #93
you mean
[code]

[2017-11-08 14:57] wpoely86 commented on #174
Some examples/guidelines how to (ab)use it would be nice.

For example, the empty string in loadpath: is it first or last or something else? I assume last?

[2017-11-09 10:39] ned21 commented on #93
@stdweird Sorry I missed your 2015 comment about expected behaviour. In the case of

[code]

I would expect ```TEST2 = "something"``` because the expected behaviour of assigning null is to delete the variable (i.e. make it as if it never existed). So what should happen if you call:

[code]
?

I can see three possible cases:
1. final is an impossible state - compile error
2. final is redundant/mean

[2017-11-09 10:44] stdweird commented on #93
@ned21 lets not complicate things with `final` 😄
so the following
[code]
should result in what?

[2017-11-09 10:50] stdweird commented on #93
@ned21 heh, i never knew this. the panbook has `The null value deletes the path or global variable to which it is assigned. Most operations and functions will report an error if this value is processed directly.`
so @jouvin  code
[code]
should give some exception?

[2017-11-09 10:54] stdweird commented on #93
pffff, `exists` function has `If the argument is a variable expression (with or without subscripts) then this function will return true if the given variable exists; the value of referenced variable is not used. `
so no special meaning to `null` or anything.

[2017-11-09 11:08] ned21 commented on #93
@stdweird Correct. The error for

[code]

should be the same as for the code:

[code]

[2017-11-09 11:13] stdweird commented on #93
@ned21 ok, that is really not the case now. there's nothing in the panc code that treats null specially wrt variables, except for the default assignment (and the panbook stating that it is special). even `exists` reports the variable as existing.

but i'd rather edit the panbook and merge #175, because it is much closer to what the code is doing.

[2017-11-09 12:07] stdweird commented on #93
@ned21 the issue was only wrt the default assigment, and panbook says `For the conditional form, the DML block will only be evaluated and the assignment done if the variable does not exist or has the undef value.`
so `null` has no special meaning in that context (as a value of a variable that does exist).

so the big question is: `variable A = null` does it follow panbook or the current code?

i a

[2017-11-09 12:25] jrha commented on #93
I think we should update the documentation to match the behaviour, fixing this now could potential break a lot of existing code.

[2017-11-09 18:05] ned21 commented on #93
hmm.. My expectation is that:

[code]

Should return false. So if you are saying that's not true then I am 😭 because it makes null act the same as undef for variables except in the case of the default values as you point out. (Is the real answer here to use fewer globals? 😉)

So, maybe @jouvin is correct, and for global variables, `null` should be treated like any other value, with transitive assi

[2017-11-09 18:38] stdweird commented on #93
@ned21 if #175 is merged, yes.
our original issue is that we have a
[code]
and without #175, we cannot do `final variable X = null` to prevent the `include`.

i can extend #175 to remove the panbook reference wrt global variables and null removing them in https://github.com/quattor/pan/blob/master/panc-docs/source/pan-book/pan-book.rst#special-types

[2017-11-09 18:41] stdweird opened #176 "delete a variable"
In the aftermath of #93 and PR #175, do we want a way to remove a variable?

ie
[code]
to return `false`.

we can always do cisco-style
[code]
if we don't want any more magic values then we already have

[2017-11-10 10:37] jrha commented on #176
I can't think of a situation where I would want to do this, so :-1: from me.

[2017-11-10 15:49] ned21 commented on #176
The least confusing syntax to use is to assign null and we already decided in #93 that it was too complex to make that the case. Introducing new syntax is unnecessary overhead, the use of `undef` is a suitable workaround in every scenario I can think of.

[2017-11-12 18:58] jouvin commented on #93
Yes. and may be `B = A;`.

[2017-11-12 19:05] jouvin commented on #93
Sorry for the very late response to https://github.com/quattor/pan/issues/93#issuecomment-343118314... I'm really not much available these days and it will probably last one or 2 weeks at least... But clearly, @stdweird , you were may be not available of this feature and it seems it was not properly documented but it was very intentionally introduced for the reason I explained. I understand your u

[2017-11-13 08:37] stdweird commented on #93
@jouvin i don't follow what you mean? there is yet another implied/assumed/undocumneted behaviour with null? if you have some smaple pan code that you want tested, feel free to add it here, but afaik, the current behaviour is what you wanted.
we can hold off merging #175 until you find some time to join the standup and we can discuss it.

[2017-11-14 20:26] ned21 commented on #93
+1: I also think this now matches the behaviour @jouvin describes. Having said that, I do now realise that the exists9.pan tests are changing in a subtle way, from ?= to = which may be more of a concern. Is that right?

[2018-01-16 13:36] stdweird opened #178 "debug with formatting fails with syntax error"
supposed to be added in #122

following profile
[code]

gives
[code]

it does work with `error`

[2018-01-16 15:30] ned21 commented on #178
Can you provide the contents of t.pan for complete-ness?

[2018-01-18 19:42] stdweird opened #180 "panc maven plugin needed for build-profile"
so either we try to figure out to get it rebuild or we remove it from https://github.com/quattor/maven-tools/blob/master/build-profile/pom.xml#L273

right now, there are no build tools that can handle new compiler version

[2018-01-18 19:43] stdweird commented on #180
@kwaegema this is your issue

[2018-01-19 09:37] jrha commented on #180
Hmm, is it actually used to accomplish anything useful, or is it just referenced?

[2018-01-19 10:11] stdweird commented on #180
the naming suggests it does a pan syntax check of something
but we have (or should have) unittests that do that.

[2018-01-19 22:55] ned21 commented on #180
Looks like the [plugin source](https://github.com/quattor/pan/tree/master/panc-maven-plugin) has a pom.xml but I guess it's not built when you build the rest of the release. I agree it would appear to do the same job as a unit test which depends on having a profile compiled which includes pan/*.pan. Last time I checked not every component had a unit test which resulted in the PAN files being exerc

[2018-01-20 11:15] stdweird commented on #180
@ned21 we were not able to get the pan maven plugins to build, for whatever obscure reason. so we dropped it, in order to be able to release pan again. i can have a look again at what is required for pan syntax unittest. however, we have (or should have) coverage checks in the template-library-core.

[2018-03-09 19:41] stdweird opened #186 "panlint: allow root path "/""
[code]

[2018-03-12 19:35] stdweird opened #187 "panlint: unwanted space minus operator after function"
[code]
gives
[code]

[2018-03-13 20:39] itkovian commented on #187
But

[code]

[2018-03-17 13:43] stdweird opened #188 "support size of list or dict using `()`"
E.g.
[code]
should be a list of strings with at least one and max 2 elements.

Should also allow
[code]
so list with 1 or 2 strings with length between 5 and 10

and also `dict(2.4)[](5..6){}(8..9)`
etc etc

[2018-03-18 10:57] ned21 commented on #188
The first example looks OK but the second starts to look a bit complicated. I don't understand what the last one does! (List with 5 or 6 elements that must be dicts... wait: `dict[]{}` isn't valid PAN today?!)

The use case seems valid but it we need to avoid confusing/ambiguous syntax, e.g.
[code]

Does that apply to the length of the list of the length of the string within a list? Using brackets

[2018-03-18 18:19] stdweird commented on #188
@ned21 i like the `[1..2]` or `{1..2}` for size of list or dict (but we should use the `..` separator imho); but i also like that `(1..2)` means `size` of of any type.

so
[code]
should always be possible. maybe we can promote `()` to mean size of any type, and allow shortahnd `[1..2]` to mean `[](1..2)`?

`SELF` always means the full type, i don't find that confusing, but i do mind the boilerplat

[2018-03-18 19:14] stdweird opened #189 "final and schema default"
Consider the following example template
[code]
currently this compiles successfully and produces `"/a" = "abc"` result.
however, this looks like something gets modified after final due to the schema default.

i would like to doublecheck that this is intended behaviour for `final` and schema defaults (before i start relying on it :smile: ).

similar example without `undef`:
[code]
results in `"/a/y

[2018-03-20 08:10] stdweird opened #190 "allow relative path that has prefix to start with index"
[code]
fails with
[code]

but this makes no sense, since prefix is a preprocessor, and actually produces (or would produce) `"/a/0" = 1;`

[2018-03-21 15:13] itkovian opened #191 "Support escaped dict keys"
The following does not work:

[code]

stopping compilation with `invalid path term or nlist key: '{/var/tmp/slurm}'`,

while the following does:
[code]

[2018-03-22 08:59] stdweird commented on #187
more
[code]

and

[code]

[2018-03-27 12:32] jrha commented on #189
My understanding is that this is the correct/intended behaviour as defaults are applied after the templates have been interpreted and `final` only applies to the logic of the Pan code, not anything that happens to the profile after it has been run.

[2018-03-28 09:34] #127 closed

[2018-03-28 10:02] #139 closed

[2018-03-28 13:29] #187 closed

[2018-03-28 13:30] #191 closed

[2018-04-03 09:25] #190 closed

[2018-04-05 11:24] #178 closed

[2018-04-05 12:52] #186 closed

[2018-04-05 16:15] ned21 commented on #189
Agree this is correct. ```final "/a" = undef;``` looks odd but says: "/a must be the default value and cannot be any other"

[2018-04-05 16:15] #189 closed

[2018-04-07 13:46] #93 closed

[2018-04-11 08:51] #163 closed

[2018-04-13 10:55] jrha commented on #92
Fixed by #181.

[2018-04-13 10:55] #92 closed

[2018-04-13 11:01] jrha commented on #164
@stdweird did this get fixed somewhere? Or is it a non-issue?

[2018-04-13 11:03] stdweird commented on #164
no, it's quite complicated to solve.

[2018-04-13 11:49] jrha commented on #164
:fearful:

[2018-04-13 14:48] #180 closed, assigned to nobody

[2018-04-16 09:35] stdweird opened #198 "new default null behaviour"
the new default null behaviour (from #175 / issue #93) cuases some issues with our templates, due to the following:
[code]
(obviously not in the same template).

anywhow, the 2nd default assignment is now skipped, since null is a valid default value.

`?= null` is used quite a lot in the core libraries it seems, so there might be quite some fallout.

i still stand by `#175`, but at least the templ

[2018-04-16 09:36] stdweird commented on #198
@ned21 @jrha @jouvin please recompile your trees with 10.7 and let me know how bad this is.

[2018-04-16 09:43] jrha commented on #198
I saw one issue of this, so far only in our SCDB instance. For me this is not an issue.

[2018-04-16 09:53] jrha commented on #198
I guess this sums it up:

[code]

[code]
[code]
[code]

[2018-04-17 07:52] stdweird commented on #87
you don't need to to do `x = append(x, 'data')`; the third variant of append works on variables directly.
(but it's unclear from the docs what it returns).

so the bad line should become `append(things, 'chips');`

however, the following does nto work
[code]
because `SELF['alist']` is not a variable reference, it's actual value (aka target) and thus append kicks back in 2nd variant. this is confus

[2018-04-18 15:34] stdweird commented on #173
i propose to rename it to `get`, `if_value` is too close to `value`

[2018-04-25 10:06] ned21 commented on #108
We decided at today's workshop in LAL that adding a built-in for push() would break all existing PAN code that uses the function from template-core. While cleaning up code might be possible, any change in behaviour between the current function and the built-in would lead to more subtle bugs so this is not worth the effort.

[2018-04-25 10:06] #108 closed

[2018-04-25 10:25] jrha commented on #108
:disappointed:

[2018-04-25 13:43] jrha commented on #176
Agreed at April 2018 workshop, the answer is no.

[2018-04-25 13:43] #176 closed

[2018-04-25 13:45] jrha commented on #173
I like the idea and I like the name `get`

[2018-04-25 13:51] stdweird commented on #173
@ned21 any objections?

[2018-04-25 13:59] stdweird opened #199 "update panbook"
[] update panbook to latest master
 [] add docs on what needs to be done (if needed)
 [] give @jrha access to read the docs

[2018-04-25 14:02] stdweird commented on #172
@gombasg any updates?

[2018-04-25 14:07] jouvin commented on #172
I'm just looking at the issue/proposal but I find it a very complicated and potentially ambiguous approach to something that can be done with a proper layout of templates. Waiting for @gombasg summary!

[2018-04-25 14:11] ned21 commented on #173
No objections. The default would only apply if the first arg evaluates to undef.

[code]

[2018-04-25 14:28] jrha commented on #87
Sure, but lets use `SELF[]` like other languages...

[2018-04-25 14:33] stdweird commented on #87
agreed to use `[]` to mean the next element

[2018-04-25 14:37] stdweird commented on #87
rewritten example

[code]

[2018-04-25 14:40] jouvin commented on #53
Duplicated by #87...

[2018-04-25 14:40] #53 closed

[2018-05-08 09:24] stdweird opened #202 "Return SELF by default when modified"
(i'm clueless how hard this is to implement, but oh boy is this annoying behaviour)

Currently
[code]
gives
[code]

becuase the dml has missing `SELF` at the end.

i would propose that when SELF is modified in a dml block, that by default SELF is returned at the end instead of last assigned value (or whatever the current default behaviour is).

i guess noone modifies SELF and then returns somethin

[2018-05-08 16:47] jouvin commented on #202
I'm afraid it is breaking one basic principle in Pan: every statement returns a value and in a DML you return the value returned by the last statement executed. `SELF['b'] = 1;` evaluates to `1` which is the last value before the (implicit) return. I don't know Pan internals but I can imagine that this is quite an intrusive change... and may be something that can impact performance if before each

[2018-06-14 10:08] stdweird opened #204 "pan annotations: allow for example pan code"
From https://github.com/quattor/configuration-modules-core/pull/1288

annotation should allow to have example pan code like
[code]

[2018-06-17 19:24] stdweird opened #205 "value of schema default"
i'm writing some pan code and i realise after some debugging that (part of) the code might depend on a value of a schema default, eg
[code]
which fails with a `referenced path (/a) doesn't exist` evaluation error

short term question: any tips how to deal with this?

long term question: (this probably doesn't make much sense ;) can we adapt the compiler to look for a schema default when the path d

[2018-07-03 16:23] #96 closed

[2018-07-11 18:34] ned21 commented on #198
We have discovered the same problem.

[code]

and then there is some later code that does: `variable FILESYSTEM_DATADISK_FS_OPTIONS ?= ...`

Fix is straight forward (`s/null/undef/`) and this appears to be the only instance.  However we haven't tested it yet! Which means that if we have other code that relies on `if( exists(VARIABLE) )` then we are in trouble because there is no longer anyway with

[2018-07-11 21:00] jouvin commented on #198
I just gave a try to 10.7 and confirm that it doesn't work for us. It breaks `boot_disk()` function that returns `null` preventing the default to be applied in `filesystem/config.pan` from `template-library-standard`. In addition, several variables in the recently added templates for Docker also have several variables initialized to `null` that must be updated. This is the only things I identified

[2018-07-11 21:02] jouvin commented on #198
@jrha are you ready to accept the change from `null` to `undef` for the templates I identified and include them in 18.6? It would be good to fix 10.7 support  in the TL, except if there is an agreement to release 10.8 shortly with the fix reverted...

[2018-07-12 08:15] stdweird commented on #198
we recompiled and fixed templates until the results were identical.
we had 4 issues to replace `null` with `undef`, but it was a not so straightforward exercise to get this right. i thought i opened 1 or 2 PRs to fix them, but i guess i forgot to do so (but we are not really using the core template libraries).

@ned21 wrt deleting a variable, i thought we agreed that noone needed this.

(also, for

[2018-07-12 08:48] jrha commented on #198
@jouvin I have one more day in the office before holiday, so it's really too late for 18.6, I'd prefer that we ensure that the release notes make it clear that there are known issues using the library with panc 10.7.

[2018-07-12 10:22] jouvin commented on #198
@jhra you are the boss, I let you decide! At the same time, the 2 PRs are really very minimal changes and I cannot really expect problems (in particular for the Docker one as the templates are new in 18.6).

[2018-07-12 10:34] jrha commented on #198
We never *expect* problems, but yet they seem to keep occurring :smile:
However, if you want to test rc1 plus the changes you have made we can discuss merging them when I'm back.

[2018-07-12 10:37] jouvin commented on #198
I'll see what I can do. FYI, the changed in the PR have been deployed in production at LAL (which is running mainly 17.7 at this point but I don't think there was any change to these parts of the TL since then).

[2018-07-26 09:23] wdpypere opened #208 "option to compile included template late/last"
I'm trying to build a profile, and once the full profile is there use the values of ```/software/components/download``` to see which certificates are downloaded. This so I can build monitoring to validate said certificates.
However I can't seem to include my "post processing" template late enough in the process to be certain I get the full list.
Is there a way (or should there be a way) to make su

[2018-07-26 09:36] jouvin commented on #208
Not sure to fully understand the issue. The inclusion order is the order of appearance... If you want it to be the very last thing, you need to ensure that this is the very last thing done in your profile. In Aquilon, this is very easy: there is one template (`archetype/final`)  which is the very last one included.

In SCDB, you have to put it in the node profile as the very last thing. If you fol

[2018-07-26 09:43] stdweird commented on #208
@jouvin that might work, but it's not really what we want. e.g. only profiles that included a certain template should do this.
the functionality we are looking for is similar to `validate`, but with the possibiility to modify data in the tree.

[2018-07-26 09:56] jrha commented on #208
Do as @jouvin suggests, but switch it with a variable that only gets set by the "certain template"?

[2018-07-26 09:59] stdweird commented on #208
@jouvin @jrha for now, sure. but is there a reason why we shouldn't add this to pan?

[2018-07-26 10:07] jrha commented on #208
Other that it seems like it could be horribly confusing?

[2018-07-26 10:10] stdweird commented on #208
@jrha yes
(and wrt confusing; it's no worse than schema default value insertion or validate imho. debugging pan is horrible anyway)

[2018-07-27 06:38] stdweird commented on #205
@jouvin any thoughts on this? (or on #206)

[2018-07-28 07:33] jouvin commented on #205
I'll try to answer later today...

[2018-07-28 13:17] jouvin commented on #205
As the discussion seems to happen in the context of the [pull request](#206), I continue there...

[2018-08-07 20:42] stdweird opened #210 "Allow multiline documentation annotation"
currently
[code]
works to support long descriptions; but it generates the additional indentation as part of the text and is a bit annoying.
better to support split based on indentation, eg
[code]
(which currently generates an error; so no real backwards incompatible behaviour)

[2018-10-25 15:15] wdpypere opened #211 "palint fails on URL in documentation"
panlint fails on annotated schema with:
[code]

[2018-10-25 15:16] wdpypere commented on #211
actual error:
[code]

[2018-10-29 08:45] wpoely86 commented on #100
Not a package but also useful: use Vundle.

[code]

[2018-10-29 09:00] kwaegema commented on #202
can we have a pan function `assign(key,value)`, that does `SELF[key] = value; SELF` ?

[2018-10-29 11:08] #84 closed

[2018-10-29 11:28] jrha opened #212 "Document why there is no unbind function"
Discussed at 26th workshop. Add an explanation of the reasoning behind there being no way to unbind a type to the `bind` documentation.

[2018-10-29 12:17] ned21 commented on #202
But why would you even write the code in the OP? Much better to just write:
[code]

`assign` as a function, analogous to `append` is also a nice idea. Am curious as to how much I'd use it since it seems to me the most space-consuming boilerplate I seem to end up writing is:

"/a" = {
  if( SOMETHING ) {
    SELF['b'] = dict("foo", "bar", "x", "y');
  };
  if( is_defined(SELF) ) {
    SELF;
  } els

[2018-10-29 14:37] kwaegema commented on #202
In most use cases, we return SELF independent of existence.. so would then end up doing
`"/a" = if (SOMETHING) assign('b', dict("foo", "bar", "x", "y')) else SELF;`
or maybe even `"/a" = assign_if(SOMETHING, 'b', dict("foo", "bar", "x", "y'))) `

[2018-10-29 14:56] stdweird commented on #202
@stdweird will try to implement it. if it is easy, will open a PR and rediscuss at next workshop . if complex, will close this issue

[2018-10-29 15:30] ned21 commented on #202
[code]

will cause /a to be undef if SOMETHING is false, hence the extra acrobatics to check SELF and return SELF or null.

[2018-10-30 08:18] wpoely86 commented on #99
I've added a couple of extra keywords in #213. Is there a list or something with all that has changed in PAN?

[2018-10-30 14:55] wpoely86 commented on #99
I think I got all of them now in #213

[2018-10-30 15:13] #99 closed

[2018-11-01 17:22] jouvin opened #215 "panlint indentation style unexpected"
`panlint` style for indentation of a multiple line statement is that every line after the first line must be indented by a multiple of 4 spaces, instead of using the approach found in all other languages where the continuation lines must be aligned with an opening parenthes, curly brace, bracket if there was one on the previous line. IMO this is unexpected and making the resulting code difficult t

[2018-11-02 14:57] jrha commented on #215
@jouvin the panlint "requirement" was never meant to deal with code written this way and now I finally understand why you are complaining! Your first example of the "required" formatting is clearly horrible and I never intended to force anyone into formatting code into this kind of mess.

Our "house style" at RAL would to be to write your example as follows, which should hopefully explain why I ha

[2018-11-02 15:17] stdweird commented on #215
@jrha i'd prefer current indentation instead of no indentation

also use prefix (and relative prefix) for such examples. there's not need to make such large dml structures for data anymore (but would not solve the indentation in `format()` issue).

[2018-11-02 17:03] jouvin commented on #215
@jrha clearly there was a big misunderstanding between us! The style you propose is fine with me... but I messed up quite a few templates because I misunderstood `panlint` requirement... Is there a place where we document the style expected by `panlin`? If not, it would be good to open an issue on the web site to make sure we write it at some point...

[2018-11-06 12:51] jrha opened #216 "Panlint: Whitespace in square brackets is active inside strings"
e.g. as discussed in quattor/template-library-standard#121
[code]
will produce

[2018-11-26 15:54] jrha opened #218 "panlint: Make Colorama and PrettyTable optional"
Neither are part of the standard library and are not strictly necessary for panlint to function correctly.

Discussed briefly in #214.

[2018-12-10 09:39] jrha opened #221 "panlint: Should files be modelled as objects?"
With lines as properties.

As discussed in #220.

[2018-12-10 09:44] #215 closed, assigned to jrha, stdweird

[2019-11-08 18:10] ned21 commented on #141
We've had this problem with a couple of other lines where we are embedding content. How about a generic #nolint<N> pragma to tell panlint to ignore the <N> following lines?

[2019-11-08 18:23] ned21 commented on #17
Duplicated by #32

[2019-11-08 18:23] #17 closed

[2019-11-08 19:11] gombasg commented on #141
Yup, I've seen `panlint` complaining path literals should not have trailing slashes - except those strings were _not_ Pan path literals.

No static analyzers can ever be perfect, so having a way for suppressing certain warnings is necessary.

[2019-11-11 12:54] jrha commented on #141
Could you take a look at #220? The rest of the changes that follow the re-factoring work there provide such functionality.

[2019-11-11 20:59] ned21 commented on #141
@jrha I am happy with #220 but it depends on #219 where I hadn't reviewed the regexes in detail to be confident of merging it. And now we have #222 which will probably invalidate both of them. In which order do we proceed?

[2019-11-12 09:32] wpoely86 commented on #141
It's not that much work to redo #222 on top of the other two if that helps.

[2019-11-19 16:12] wdpypere opened #224 "panlint: wrong message when template declaration is not on first line"
we ran into this:
[code]
when there was documentation above the declaration like:
[code]

although it is fine panlint nags about this, it should probably say the declaration needs to be on the first line instead of parsing the line.

[2019-11-19 17:09] wpoely86 commented on #224
[code]

The first error is clear no?

[2019-11-19 19:08] wdpypere commented on #224
@wpoely86 I did not get that first error. (I think)

[2019-11-20 08:48] wdpypere commented on #224
@wpoely86 maybe I did not get enough coffee. I'll close this and if it should pop up again I'll reopen.

[2019-11-21 09:08] stdweird commented on #224
this is confusing, the second error is plain wrong. and there is a different wrt the annotations (i'm a bit surprised too)

[2019-11-21 09:10] stdweird commented on #224
actually i'm not surprised. if you want to annotate the templet itself, teh annotation has to be put before the template declaration

[2019-11-21 09:11] wpoely86 commented on #224
So it should 'detect' the annotation and skip that part for the 'first line' check?

[2019-11-21 09:12] stdweird commented on #224
yes, you should treat annotations like comments (actually, i'd rather prefer not to allow comments before the declaration :wink:)

[2019-11-21 09:13] wpoely86 commented on #224
A wait, it does that. The issue is the empty line between the annotation and the template declaration.

So if we just add a 'skip' empty lines on the top, it should be fine again.

[2019-11-21 09:14] stdweird commented on #224
no, you can nag about the emtpy lines, that is fine for me (but ideally, th emessage should say so)

[2019-11-21 09:25] stdweird opened #226 "panlint: refine component in use check"
should probably not check paths used in functions, see e.g.

[code]

[2019-11-21 10:58] wdpypere opened #227 "panlint: bogus report on component path in value()"
we get someting like this

[code]

I don't think it should report on this components path that the component is in use.

[2019-11-21 12:29] stdweird opened #228 "palint: not everything with a `/` is a path"
not sure what the path regex is, but `http://` is not a path

[code]

[2019-11-27 08:33] stdweird opened #229 "panc: match with single argument causes ugly stacktrace"
[code]
gives
[code]

[2019-12-02 11:39] jrha opened #230 "panlint: Blank lines should be ignored (regression)"
Root cause of #224

As demonstrated by the debug output, blank lines are no longer being ignored during linting, which causes strange behaviours with the first line rule.

# Example:

## Previous behaviour
[code]

## Current behaviour
[code]

[2019-12-02 12:45] jrha commented on #224
This should be fixed by #231.

[2019-12-05 12:39] #212 closed

[2019-12-05 15:07] ned21 opened #235 "How do we get readthedocs master & latest branches updated?"
https://quattor-pan.readthedocs.io/en/master/ was generated from commit 009934a6 which was merged in Nov **2018**. Anyone know how we get this refreshed/who owns the quattor-pan read the docs account?

[2019-12-05 15:46] jrha commented on #235
At least myself and @jouvin can maintain it.
I've pushed the build button on readthedocs, let's see what happens.

[2019-12-05 16:09] jrha commented on #235
Seems to have built. It looks like it stopped working when GitHub removed integration.
I think I have created an equivalent web-hook to do it automatically again.

[2019-12-05 18:32] ned21 commented on #235
Thanks, @jrha - my changes all look to have built fine. It looks like they now support a readthedocs.yaml file in the root of the repo so we can store the config alongside code? https://docs.readthedocs.io/en/stable/config-file/index.html

[2019-12-05 18:32] #235 closed

[2019-12-06 13:41] jrha commented on #235
Interesting!

[2019-12-08 19:35] #224 closed

[2019-12-08 19:35] #230 closed

[2019-12-09 10:12] jrha commented on #221
Yes, PR coming.

[2019-12-09 10:14] jrha commented on #227
Seems like a duplicate of #226.

[2019-12-09 10:14] #227 closed

[2020-03-03 08:16] stdweird opened #237 "root is not a trailing slash"
the trailing slash is the path
[code]

[2020-03-03 16:25] jrha commented on #237
Hmm, there is a unit test that checks the following is not flagged:
[code]
I'll have a play.

[2020-03-03 16:27] jrha commented on #237
Odd, doesn't get flagged for me.

[code]

[code]

[2020-03-03 16:32] stdweird commented on #237
@jrha hmm, we must be running some outdate panlint then. i'll close this

[2020-03-03 16:32] #237 closed

[2020-03-03 21:21] ned21 commented on #237
I've also seen this recently. We're running the last "released" version (as-in, what comes in the most recent panc release). Maybe we need to release panlint separately?

[2020-03-04 09:43] jrha commented on #237
Ah, that's almost certainly the problem, yes we probably do.

[2020-06-19 19:07] stdweird commented on #229
also occurs with
[code]
already during syntax check

[2020-07-03 08:34] wpoely86 opened #240 "panlint: do not check operators in strings"
Following template:

[code]

results in:

[code]

I guess the issue is the '-' between the square brackets? Operators should be ignored if they are part of a string?

[2020-10-09 11:28] stdweird opened #243 "deprecated function should return true"
deprecated fucntion now returns undef. not sure why that is, but it would be better that it returns true, so we can have get rid of code snippets in schema like `... with {deprecated(...); true;}`

[2021-06-21 12:39] #240 closed

[2021-06-23 15:08] jrha commented on #216
Fixed by #241

[2021-06-23 15:12] #216 closed

[2022-02-16 13:14] #133 closed